@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --font-inter: 'Inter', sans-serif;
    --beige: #f5cdc3;
}
@layer base {
    body {
        @apply font-inter bg-black text-white;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px black inset !important;
        -webkit-text-fill-color: var(--color-teal-500);
    }
}
@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

.text-stroke {
    text-shadow: 1px 1px 1px var(--beige), -1px -1px 1px var(--beige),
        -1px 1px 1px var(--beige), 1px -1px 1px var(--beige);
}
